$color-primary-0: #28546E;	/* Main Primary color */
$color-primary-1: #1A1D1F;
$color-primary-2: #2B3C47;
$color-primary-3: #136596;
$color-primary-4: #0685D0;

$color-secondary-1-0: #442F76;	/* Main Secondary color (1) */
$color-secondary-1-1: #1E1D22;
$color-secondary-1-2: #38304C;
$color-secondary-1-3: #421CA1;
$color-secondary-1-4: #460BD6;

$color-secondary-2-0: #AC9B39;	/* Main Secondary color (2) */
$color-secondary-2-1: #313029;
$color-secondary-2-2: #6F6840;
$color-secondary-2-3: #EBCA11;
$color-secondary-2-4: #FFD900;

$color-complement-0: #AC7839;	/* Main Complement color */
$color-complement-1: #312D29;
$color-complement-2: #6F5A40;
$color-complement-3: #EB8911;
$color-complement-4: #FF8C00;

$gray-100: #101010;


$color-off-white: #e0e0e0;
$color-off-white: #ffffff;

$primary-gradient: linear-gradient(90deg, #196795 0%, #3F23A1 100%);
$secondary-gradient: linear-gradient(90deg, #FF8C00 0%, #AC7839 100%);