$color-primary-100: #73A7C6;	/* Main Primary color */
$color-primary-200: #3C7BA0;
$color-primary-300: #196795;
$color-primary-400: #0A4A6F;
$color-primary-500: #03304B;

$color-secondary-100: #8F7DCE;	/* Main Secondary color (1) */
$color-secondary-200: #5E47AD;
$color-secondary-300: #3F23A1;
$color-secondary-400: #291278;
$color-secondary-500: #170751;

$color-tertiary-100: #95E680;	/* Main Secondary color (2) */
$color-tertiary-200: #64D447;
$color-tertiary-300: #3BC417;
$color-tertiary-400: #239305;
$color-tertiary-500: #156300;

$color-complement-100: #FFCC8E;	/* Main Complement color */
$color-complement-200: #FBB054;
$color-complement-300: #E98D1B;
$color-complement-400: #AF6306;
$color-complement-500: #764100;

$color-gray-100: #DDDDEE;
$color-gray-200: #BBBBCC;
$color-gray-300: #9999AA;
$color-gray-400: #777788;
$color-gray-500: #555566;


$color-off-white: #e0e0e0;

$primary-gradient: linear-gradient(90deg, #196795 10%, #3F23A1 90%);
$secondary-gradient: linear-gradient(90deg, #FBB054 10%, #AF6306 90%);
